body
{
  background-color:#222222;
}
.app-title 
{
  padding:30px;
  color:white;
}

.input-group 
{
  margin-bottom:10px;
  height:80px;
}

.form-control 
{
  border-radius: 0.5em 0 0 0.5em !important;
  width:50%;
  padding: 0 16px !important;
}
.form-control::placeholder 
{
  font-size:0.8em;
  font-style:italic;
}

.btn
{
	font-size:0.8em;
	color:black;
}


.input-group-addon 
{
  border-radius:0.5em !important;
  width: 25%;
}

.starter 
{
  border-radius: 0 0.5em 0.5em 0 !important;
  width: 15%;
}

.result-a 
{
  margin: 0 0 0 10px;
  border-radius: 0.5em 0 0 0.5em !important;
}

.result-b 
{
  border-radius: 0 0.5em 0.5em 0 !important;
}

@media (max-width: 768px) 
{
  span 
  {
    font-size:0.65em;
    font-weight:600;
    text-align:center;
  }
}